flujos n8n/03 - Flujo Google Sheets y Gráficos.json
{
  "name": "03 Flujo Google Sheets y Gráficos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        176
      ],
      "id": "51bd6c42-b150-4803-b963-42dd8af2141e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CPklMEssI5ycoBVYxLiaHHZMistp6HvJhpHseUB8i9Q",
          "mode": "list",
          "cachedResultName": "Mall customers spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CPklMEssI5ycoBVYxLiaHHZMistp6HvJhpHseUB8i9Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CPklMEssI5ycoBVYxLiaHHZMistp6HvJhpHseUB8i9Q/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        176
      ],
      "id": "e51ea5e5-8b39-44b4-b795-7db1464b3000",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QJqTX3ZCxp0KGQ7m",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener todos los items del flujo entrante en el nodo\nconst items = $input.all();\n\n// --- PASO 1: Extracción del atributo 'Age' (edades de clientes) --- //\n\n// Función que devuelve el primer campo numérico que corresponda con la edad\nfunction extractAge(obj) {\nif (!obj || typeof obj !== 'object') return null;\n\n// Se busca de modo que no haya sensibilidad a mayúsculas y minúsculas\nfor (const key of Object.keys(obj)) {\nif (key.toLowerCase() === \"age\") {\nconst val = Number(obj[key]);\nreturn !isNaN(val) ? val : null;\n}\n}\n\n// Probar por si acaso el objeto JSON está anidado\nif (obj.json && typeof obj.json === \"object\") {\nreturn extractAge(obj.json);\n}\n\nreturn null;\n}\n\nconst ages = items\n.map(item => extractAge(item.json ?? item))\n.filter(a => typeof a === \"number\" && !isNaN(a));\n\n\n // Si no hay datos recuperados, crear mensaje de error para siguiente nodo de QuickChart\nif (ages.length === 0) {\nreturn [\n{\njson: {\nlabels: [\"No data\"],\ndata: [0],\ndebug_note: \"No ages found. Check column name (expected: 'age' or 'Age').\"\n}\n}\n];\n}     \n\n\n// --- PASO 2: Construcción dinámica de 10 intervalos de edad (bins) --- //\n\nconst BIN_SIZE = 10;\n\nconst minAge = Math.min(...ages);\nconst maxAge = Math.max(...ages);\n\nconst start = Math.floor(minAge / BIN_SIZE) * BIN_SIZE;\nconst end = Math.ceil(maxAge / BIN_SIZE) * BIN_SIZE;\n\nlet labels = [];\nlet data = [];\n\nfor (let binStart = start; binStart < end; binStart += BIN_SIZE) {\nconst binEnd = binStart + BIN_SIZE - 1;\n\nlabels.push(`${binStart}-${binEnd}`);\n\nconst count = ages.filter(a => a >= binStart && a <= binEnd).length;\ndata.push(count);\n}\n\n// --- PASO 3: Devolver objeto JSON apto para posterior nodo de QuickChart --- //\n\nreturn [\n{\njson: {\nlabels,\ndata\n}\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        176
      ],
      "id": "4aeac698-f9da-46b6-9d4d-2256fe60fa36",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chartType": "pie",
        "labelsMode": "array",
        "labelsArray": "={{ $json.labels }}",
        "data": "={{ $json.data }}",
        "output": "=data",
        "chartOptions": {},
        "datasetOptions": {}
      },
      "type": "n8n-nodes-base.quickChart",
      "typeVersion": 1,
      "position": [
        304,
        176
      ],
      "id": "af6b5cca-4b1a-4efe-9d63-d886ca6f4f07",
      "name": "QuickChart"
    },
    {
      "parameters": {
        "sendTo": "gakudo.learn@gmail.com",
        "subject": "Gráfico hecho con n8n",
        "message": "Ver adjunto",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        592,
        176
      ],
      "id": "b8ba2b79-61d6-43b4-aea8-0a35eed8c30d",
      "name": "Send a message",
      "webhookId": "dc764539-0c2f-4e86-86ab-c6db64253df2",
      "credentials": {
        "gmailOAuth2": {
          "id": "yfiqIr7Ql2KW0FUY",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "Nuestro trigger está configurado para ejecutarse 1 vez cada minuto si lo publicásemos en modo Producción",
        "height": 112,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        32
      ],
      "typeVersion": 1,
      "id": "f5a2c3cd-9a9c-4d72-8bb8-7713f266a557",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Aqui accedemos a una hoja de cálculo de Google Sheets en nuestra cuenta google vinculada, y obtenemos los datos de 200 clientes",
        "height": 112,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        32
      ],
      "typeVersion": 1,
      "id": "3817d145-4f8c-4704-8a2c-446bd9994396",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Este nodo contiene código Javascript que analiza los 200 clientes, genera varios grupos de edad automáticamente, y calcula un recuento (frecuencias) del num. clientes en cada grupo de edad.",
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "fba9821c-2c65-4f74-9e94-3401c38938dc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Aqui, a partir de los grupos de edad (etiquetas o categorias), y los recuentos calculados, creados un gráfico de un tipo determinado, p.ej. histograma de barras o diagrama de sectores.",
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        0
      ],
      "typeVersion": 1,
      "id": "4f164cd0-595f-49f3-9622-f6f708a40cc5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Generamos y enviamos un mensaje de correo electrónico desde nuestro Gmail vinculada, que incluye el gráfico generado como adjunto.\n\nINCLUIR EN TEMARIO CUENTAS CORREO STMP/IMAP",
        "width": 272,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        0
      ],
      "typeVersion": 1,
      "id": "d8850976-d38a-47da-9515-3615870c83be",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "QuickChart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuickChart": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "caac15cb-b214-4ace-addf-c1a833c5ec84",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64482d7a14e81689aaebbf703d54e87c821063e375e43c30ccc74d502f1236a9"
  },
  "nodeGroups": [],
  "id": "Bkc4ltiK19LMGj77",
  "tags": []
}