flujos n8n/04 - Simple OpenAI workflow.json
{
  "name": "04 - Simple OpenAI workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5bd3672a-0cab-4ba3-9f7e-0f1cb6513315",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8d12847f-b388-46e5-a9c5-09e22230aea1",
      "name": "Webhook",
      "webhookId": "5bd3672a-0cab-4ba3-9f7e-0f1cb6513315"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f93fe57b-b58c-438d-8cff-d9fb46ddc4d4",
              "name": "body.message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "56f97722-7106-4809-8055-c73d874d489d",
              "name": "prompt",
              "value": "=Eres un asistente claro y didáctico.\n\nTarea:\n{{ $json.body.message }}\n\nInstrucciones:\n{{ $json.body.extra_context || \"\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "7ece356e-9cfd-4a6d-9582-7cd34e90968d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        432,
        0
      ],
      "id": "f2b049c7-a928-43b4-b4fd-622e258d34a8",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        176
      ],
      "id": "4a2c1187-a9fe-4e24-b4b3-a4a8cb88b153",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nNpVNgNIMRHVNK2y",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        176
      ],
      "id": "c30fe1f4-76a3-42c3-9315-027815355499",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xxRZxYfbJ4vt3RHL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "Una forma sencilla y gratuita de enviar peticiones HTTP POST a nuestro Webhook es mediante:\nhttps://reqbin.com/",
        "height": 112,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        -128
      ],
      "typeVersion": 1,
      "id": "295397c7-7e42-46a8-b04c-9d6d04baf0de",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "**OBTENER UNA API KEY THE GOOGLE AI STUDIO PARA DEFINIR TU CREDENCIAL DE ACCESO A MODELOS GEMINI:**\n\nhttps://aistudio.google.com/u/3/api-keys",
        "height": 128,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        -144
      ],
      "typeVersion": 1,
      "id": "84d62eb8-e0a9-4d72-91af-abc0693e7d5d",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "06537ada-b6a0-47b2-aed4-ed83537ed162",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64482d7a14e81689aaebbf703d54e87c821063e375e43c30ccc74d502f1236a9"
  },
  "nodeGroups": [],
  "id": "98NzsqFJEE6fAAht",
  "tags": []
}