flujos n8n/04b - Simple OpenAI MEJORADO - Envio Newsletter.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "content": "Una forma sencilla y gratuita de enviar peticiones HTTP POST a nuestro Webhook es mediante:\nhttps://reqbin.com/",
        "height": 112,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -96
      ],
      "typeVersion": 1,
      "id": "2302f175-a96f-44b6-a5c4-138b6d2462b9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8124b115-479e-437d-ab6f-b5f6173728b7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        48
      ],
      "id": "864bad5b-70fa-4ef7-ab88-c293623adbe5",
      "name": "Webhook",
      "webhookId": "8124b115-479e-437d-ab6f-b5f6173728b7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1175cab6-bc71-4ebd-90ca-44c9f2b3c944",
              "name": "body.message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "fe3ae65c-8613-47e3-8604-b2089c555f93",
              "name": "prompt",
              "value": "=Eres un asistente claro y didáctico.\n\nTarea:\n{{ $json.body.message }}\n\nInstrucciones:\n{{ $json.body.extra_content || \".\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        48
      ],
      "id": "427f43bb-3b5a-4648-b1d3-a73b8a903ea6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        432,
        48
      ],
      "id": "25b8c0dc-d0c2-4a15-bde5-45ff1922d999",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        304,
        224
      ],
      "id": "971e6b0d-1a25-49c1-9072-53fac14de467",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nNpVNgNIMRHVNK2y",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        544,
        224
      ],
      "id": "7d0d7617-80d0-42c7-ac09-0d3cbf85e972",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xxRZxYfbJ4vt3RHL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "**OBTENER UNA API KEY THE GOOGLE AI STUDIO PARA DEFINIR TU CREDENCIAL DE ACCESO A MODELOS GEMINI:**\n\nhttps://aistudio.google.com/u/3/api-keys",
        "height": 128,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        -96
      ],
      "typeVersion": 1,
      "id": "2876fc1e-471a-4c53-93b6-2bf5b25c2061",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "sendTo": "ejemplo@ejemplo.com",
        "subject": "Newsletter n8n",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        784,
        48
      ],
      "id": "4c476cab-2447-4cbc-9fc3-6a014bc8d5fa",
      "name": "Envío de newsletter",
      "webhookId": "6b6f544e-9630-436d-82be-f34eb2a0d512",
      "credentials": {
        "gmailOAuth2": {
          "id": "yfiqIr7Ql2KW0FUY",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "**PARA ESTA VERSIÓN AMPLIADA DEL EJEMPLO 4, UTILIZA ESTOS DATOS EN TU PETICIÓN HTTP POST QUE DEBES ENVIAR DESDE EL EXTERIOR:**\n\n{\n  \"message\":\"Explica los conceptos básicos de n8n para automatización de procesos sencillos.\",  \n  \"extra_content\":\"Dame una explicación formateada en HTML.\"\n}",
        "height": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        -176
      ],
      "typeVersion": 1,
      "id": "f2e61dbd-4826-4039-a3c9-99a4bb7c8ba2",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Envío de newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "13cc8194-6546-40b5-9d3c-dc27b5bcbef5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64482d7a14e81689aaebbf703d54e87c821063e375e43c30ccc74d502f1236a9"
  },
  "nodeGroups": [],
  "id": "72aAHZzaKkQAoPNR",
  "tags": []
}