flujos n8n/08 - Hola Mundo Javascript.json
{
  "name": "08 Hola Mundo Javascript",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        192
      ],
      "id": "0846a0c9-2159-4420-9050-ea8fc79e16b1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CPklMEssI5ycoBVYxLiaHHZMistp6HvJhpHseUB8i9Q",
          "mode": "list",
          "cachedResultName": "Mall customers spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CPklMEssI5ycoBVYxLiaHHZMistp6HvJhpHseUB8i9Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CPklMEssI5ycoBVYxLiaHHZMistp6HvJhpHseUB8i9Q/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        192
      ],
      "id": "e7700366-b138-40b8-86ce-4e65c98badee",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QJqTX3ZCxp0KGQ7m",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos las 200 filas que vienen del Google Sheet\nconst items = $input.all();\n\n// Recorremos la lista uno por uno\nfor (const item of items) {\n  // Añadimos datos nuevos al JSON de cada cliente\n  item.json.Procesado_n8n = true;\n  item.json.Etiqueta = \"Revisado por JS\";\n  item.json.processedTimestamp = new Date().toISOString();\n}\n\n// Devolvemos el \"tren\" de datos con nuevas columnas\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "53bf3451-5937-47a6-ac82-9672beeb3af5",
      "name": "Añadir nuevos campos"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Usamos .filter() para crear una lista nueva. \n// Solo pasan los que tienen 18 años o más en la columna \"Age\".\nconst clientesAdultos = items.filter(item => item.json.Age >= 30);\n\n// Si conectas un nodo de Gmail después, solo enviará emails a este grupo reducido\nreturn clientesAdultos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        80
      ],
      "id": "8698b517-dae1-49a2-9d53-b50b8d49a8fc",
      "name": "Filtrar Mayores de 30 años"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (const item of items) {\n  // 1. Limpiamos el texto: Pasamos el género a mayúsculas\n  item.json.Gender = item.json.Gender.toUpperCase();\n\n  // 2. Cálculo matemático: Multiplicamos los miles (k$) por 1000\n  const ingresoMiles = item.json[\"Annual Income (k$)\"];\n  item.json.IngresoRealDolares = ingresoMiles * 1000;\n}\n\n// Devolvemos los 200 clientes, pero ahora con los datos limpios y calculados\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        176
      ],
      "id": "9eaac424-ea00-4045-8c16-70d1cca85dc5",
      "name": "Estandarización de atributos"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet sumaIngresos = 0;\nlet clientesEstrella = 0;\n\n// Recorremos los 200 clientes para acumular los datos\nfor (const item of items) {\n  sumaIngresos = sumaIngresos + item.json[\"Annual Income (k$)\"];\n  \n  // Contamos cuántos clientes tienen un Spending Score superior a 80\n  if (item.json[\"Spending Score (1-100)\"] > 80) {\n    clientesEstrella = clientesEstrella + 1;\n  }\n}\n\n// ATENCIÓN: No devolvemos \"items\". Devolvemos un solo objeto nuevo.\nreturn [{\n  json: {\n    mensaje: \"Reporte de la base de datos generado con éxito\",\n    total_clientes_analizados: items.length,\n    ingreso_total_k: sumaIngresos,\n    clientes_alto_valor: clientesEstrella\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        320
      ],
      "id": "bf146c33-fed1-41c9-8d03-524c998eb986",
      "name": "Agregación y resumen de datos"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet sumaIngresos = 0;\nlet clientesEstrella = 0;\n\n// NUEVO: variables nuevas para el resumen\nlet totalMujeres = 0;\nlet totalHombres = 0;\nlet sumaEdades = 0;\n\n\nfor (const item of items) {\n  sumaIngresos = sumaIngresos + item.json[\"Annual Income (k$)\"];\n  \n  if (item.json[\"Spending Score (1-100)\"] > 80) {\n    clientesEstrella = clientesEstrella + 1;\n  }\n\n  // NUEVO: Contar por género usando la Pista 1 (===)\n  // Usamos el \"salvavidas\" por si la celda está vacía\n  if (item.json.Gender) {\n    if (item.json.Gender === \"Female\") {\n      totalMujeres = totalMujeres + 1;\n    } \n    if (item.json.Gender === \"Male\") {\n      totalHombres = totalHombres + 1;\n    }\n  }\n\n  // NUEVO: Sumar todas las edades\n  if (item.json.Age) {\n    sumaEdades = sumaEdades + item.json.Age;\n  }\n}\n\n// 3. Cálculos finales fuera del bucle (Pista 2: Redondeo)\nconst edadPromedio = Math.round(sumaEdades / items.length);\n\n// Devolver el gran informe final\nreturn [{\n  json: {\n    mensaje: \"Reporte Avanzado de la base de datos\",\n    total_clientes_analizados: items.length,\n    ingreso_total_k: sumaIngresos,\n    clientes_alto_valor: clientesEstrella,\n    // Añadimos los nuevos datos al JSON de salida\n    total_mujeres: totalMujeres,\n    total_hombres: totalHombres,\n    edad_media: edadPromedio\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        400
      ],
      "id": "03036d69-1251-43be-9311-49cb2eace953",
      "name": "Agregación y resumen de datos II"
    },
    {
      "parameters": {
        "content": "## PISTAS\n\nEl comparador 'exacto' para cadenas de texto: ===\n\nMath.round() para redondear números con decimales",
        "height": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        352
      ],
      "typeVersion": 1,
      "id": "7d3e07ad-9e9e-4b0d-af9c-ced0c8d8ae2c",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Añadir nuevos campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "423e43be-49ae-4327-86fa-c01832b1521e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64482d7a14e81689aaebbf703d54e87c821063e375e43c30ccc74d502f1236a9"
  },
  "nodeGroups": [],
  "id": "nxAmz43WLjzRqdrN",
  "tags": []
}