flujos n8n/09 - Conexión con BBDDs y Hojas de Cálculo.json
{
  "name": "09 - Conexión con BBDDs y Hojas de Cálculo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        64
      ],
      "id": "eb9a7b2c-dbba-43cb-8691-61597f6af123",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CPklMEssI5ycoBVYxLiaHHZMistp6HvJhpHseUB8i9Q",
          "mode": "list",
          "cachedResultName": "Mall customers spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CPklMEssI5ycoBVYxLiaHHZMistp6HvJhpHseUB8i9Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CPklMEssI5ycoBVYxLiaHHZMistp6HvJhpHseUB8i9Q/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        64
      ],
      "id": "a8aea99c-38e8-4306-9599-fd3db221320b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QJqTX3ZCxp0KGQ7m",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appOxtEHMm7FAwwCC",
          "mode": "list",
          "cachedResultName": "Base clientes",
          "cachedResultUrl": "https://airtable.com/appOxtEHMm7FAwwCC"
        },
        "table": {
          "__rl": true,
          "value": "tblpXBvNCccxpsTd5",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appOxtEHMm7FAwwCC/tblpXBvNCccxpsTd5"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Spending Score (1-100)": 0,
            "Annual Income (k$)": 0,
            "Age": 0,
            "CustomerID": 0
          },
          "matchingColumns": [
            "CustomerID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "CustomerID",
              "displayName": "CustomerID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Annual Income (k$)",
              "displayName": "Annual Income (k$)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Spending Score (1-100)",
              "displayName": "Spending Score (1-100)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "ignoreFields": "row_number"
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "5bc320c3-dd4a-4fd9-b139-5b1f01e85f6d",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "2CxhkEOpO2C1r8lC",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "giLwuF6QMkdKTGNn",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "/projects/H61Z2EHkKuCzZFVb/datatables/giLwuF6QMkdKTGNn"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.CustomerID }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Age": "={{ $json.Age }}",
            "Income": "={{ $json['Annual Income (k$)'] }}",
            "Spending_score": "={{ $json['Spending Score (1-100)'] }}",
            "CustomerID": "={{ $json.CustomerID }}",
            "Gender": "={{ $json.Gender }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CustomerID",
              "displayName": "CustomerID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Income",
              "displayName": "Income",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Spending_score",
              "displayName": "Spending_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        0,
        208
      ],
      "id": "7cdac27e-7e35-4414-aea0-4450b1ca22b2",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "content": "**CREACIÓN DE CREDENCIAL PARA CONECTAR CON AIRTABLE**\n\n1. Una vez registrados en Airtable, ir a: https://airtable.com/create/tokens para obtener un PAT (Personal Access Token)\n2. Dar los permisos (scopes):\n   data.records:read\n   data.records:write\n   schema.bases:read\n\n3. Acceder a todos los recursos o especificar los recursos (workspaces y bases) a los que acceder",
        "height": 208,
        "width": 1056
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -240
      ],
      "typeVersion": 1,
      "id": "2503fa68-e640-4ef5-b9e0-b404ee9f09ff",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9f148a06-9107-44c0-aafc-de1018dd06ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64482d7a14e81689aaebbf703d54e87c821063e375e43c30ccc74d502f1236a9"
  },
  "nodeGroups": [],
  "id": "aaLdMuktOKBy4klE",
  "tags": []
}