flujos n8n/12 - Lógica condicional - Expandido.json
{
  "name": "12 - Lógica condicional - Expandido",
  "nodes": [
    {
      "parameters": {
        "content": "### Lógica del Flujo:\n1. **IF**: Filtra casas caras vs baratas.\n2. **SWITCH**: Clasifica las casas caras según su cercanía al mar.\n3. **Resultados**: Permite ejecutar acciones distintas (emails, alertas) según la categoría.",
        "height": 224
      },
      "id": "6ecccf76-5397-408a-ad67-0b0853cf9cc0",
      "name": "Nota Explicativa",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        160
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -928,
        384
      ],
      "id": "07845bdf-3b2c-47e0-a942-6a97f3c1d1f7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/gakudo-ai/open-datasets/main/housing.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "ae969daa-17fe-4ff8-bd70-86a8cae5828b",
      "name": "Descargar Dataset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -640,
        432
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "40dffb6c-9605-4676-83f3-7434b1e8e544",
      "name": "Convertir CSV a JSON",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        -400,
        432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.median_house_value }}",
              "operation": "larger",
              "value2": 200000
            }
          ]
        }
      },
      "id": "701c3ec2-6064-4bd0-8582-207d040ef4c4",
      "name": "¿Es Cara (>200k)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -192,
        432
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.ocean_proximity }}",
        "rules": {
          "rules": [
            {
              "value2": "NEAR OCEAN"
            },
            {
              "value2": "INLAND",
              "output": 1
            },
            {
              "value2": "NEAR BAY",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "b9d32114-9c17-4c73-a8a5-151627c9a09e",
      "name": "Categoría por Ubicación",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        96,
        272
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "median_house_value"
            }
          ]
        },
        "options": {}
      },
      "id": "7f336898-ba54-42aa-9d2c-2f8d4c69c98d",
      "name": "Ordenar por Precio",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        80,
        528
      ]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "3bc11e81-1013-442f-8658-7f44c2db51a1",
      "name": "Top 5 Chollos",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        304,
        528
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "013d56eb-8032-4d2b-aa5d-75e11edb5d86",
              "name": "Categoria_VIP",
              "value": "Villa Costera 🏖️",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "fa254e2e-9457-4427-a39a-1a6e607144b7",
      "name": "Etiqueta: Playa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42875b11-d00d-4034-8b6b-312d8a509ed5",
              "name": "Categoria_VIP",
              "value": "Refugio Interior ⛰️",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8482a1c5-ce5b-40f6-b259-67fbbf3ec162",
      "name": "Etiqueta: Interior",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        288
      ]
    },
    {
      "parameters": {},
      "id": "c0bbd913-6940-415b-a0d9-fed2785d2907",
      "name": "Unir Catálogo VIP",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        672,
        192
      ]
    },
    {
      "parameters": {
        "content": "Nodo Sort. \n\nOrdena los items en una colección.",
        "height": 96
      },
      "id": "40740668-2150-4137-a624-eb894a0f7b26",
      "name": "Nota Explicativa1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        688
      ]
    },
    {
      "parameters": {
        "content": "Nodo Limit. \n\nRestringe items de una colección para mantener solo los X primeros, por ejemplo.",
        "height": 144
      },
      "id": "515a44fa-1df8-4273-a5f9-4e9542ca73b6",
      "name": "Nota Explicativa2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        672
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a1f09bc-2e13-4784-a6d3-6c2f7d3ece31",
              "name": "Categoría_VIP",
              "value": "Chollazo 💸",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        528
      ],
      "id": "fb2f1823-fa22-4c16-90ce-610ac72bd549",
      "name": "Etiqueta: Chollazo"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        928,
        400
      ],
      "id": "f4cd7933-c6b1-438d-9757-4e4f371c3276",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1136,
        400
      ],
      "id": "36d51bac-caf3-4159-bb79-eafbfe6a45b1",
      "name": "Wait",
      "webhookId": "b39ad3d8-2b0f-432a-8251-624e933d4007"
    },
    {
      "parameters": {
        "content": "EJERCICIO PROPUESTO: Con toda la información recopilada sobre viviendas destacadas, confeccionar dos newsletters promocionales a enviar por dos canales de comunicación: email y Telegram",
        "height": 224
      },
      "id": "cdc24edb-2f0f-4ad3-9d38-b24e071733c9",
      "name": "Nota Explicativa3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Descargar Dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Dataset": {
      "main": [
        [
          {
            "node": "Convertir CSV a JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir CSV a JSON": {
      "main": [
        [
          {
            "node": "¿Es Cara (>200k)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Cara (>200k)?": {
      "main": [
        [
          {
            "node": "Categoría por Ubicación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ordenar por Precio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ordenar por Precio": {
      "main": [
        [
          {
            "node": "Top 5 Chollos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Etiqueta: Playa": {
      "main": [
        [
          {
            "node": "Unir Catálogo VIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Etiqueta: Interior": {
      "main": [
        [
          {
            "node": "Unir Catálogo VIP",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Categoría por Ubicación": {
      "main": [
        [
          {
            "node": "Etiqueta: Playa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Etiqueta: Interior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 5 Chollos": {
      "main": [
        [
          {
            "node": "Etiqueta: Chollazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Etiqueta: Chollazo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Unir Catálogo VIP": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "73759af3-b130-44ed-82b4-26294380e45e",
  "meta": {
    "instanceId": "64482d7a14e81689aaebbf703d54e87c821063e375e43c30ccc74d502f1236a9"
  },
  "nodeGroups": [],
  "id": "KHyWFxp4ZAKInXmM",
  "tags": []
}