flujos n8n/16 - Sistema RAG Minimalista.json
{
  "name": "15 - Sistema RAG Minimalista",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        736,
        400
      ],
      "id": "7c649459-7ac3-4b72-a449-69ac5b9fb9b3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://github.com/gakudo-ai/open-datasets/raw/refs/heads/main/asia_documents.zip",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        944,
        400
      ],
      "id": "6e7762e7-9cbe-426f-802b-15f409bddd51",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        1152,
        400
      ],
      "id": "77dcfd15-49fb-4c52-ae69-d14fb8f84660",
      "name": "Compression"
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1360,
        400
      ],
      "id": "8d0032d9-d17b-4af6-95d6-0aa59712133a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1568,
        400
      ],
      "id": "99e72b25-beea-4c5a-9ccb-252c9f511c3e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1776,
        400
      ],
      "id": "9b658c21-3810-4b19-b00c-5b25fb8c0e77",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "083bffed-c77e-4d24-9744-de596c4a557c",
              "name": "question",
              "value": "={   \"question\": \"Which Southeast Asian countries are known for islands and beaches?\" }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        608
      ],
      "id": "73b9c6cb-d033-4739-b8f1-9894cd367ed4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Tomamos la pregunta del primer item\nconst question = JSON.parse($items()\n                            [0].json.question).question\n\n// Tomar los 9 textos\nconst texts = items.map(i => i.json.text);\n\nreturn [{\n  json: {\n    texts,\n    question\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        400
      ],
      "id": "82a0b6da-97d9-4a0c-898f-105646838064",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Tomamos la pregunta\nconst question = $json.question.toLowerCase();\n \n// Generamos palabras clave (filtro simple)\nconst keywords = question.split(/\\W+/).filter(k => k.length > 3);\n \n// Tomamos los textos\nconst texts = $json.texts;\n \n// Score simple: contar coincidencias de palabras clave\nconst scoredDocs = texts.map(text => {\n  const t = text.toLowerCase();\n  let score = 0;\n  for (const kw of keywords) {\n    if (t.includes(kw)) score++;\n  }\n  return { text, score };\n});\n \n// Orden descendente por score\nscoredDocs.sort((a, b) => b.score - a.score);\n \n// Seleccionamos top 3 documentos\nconst topDocs = scoredDocs.slice(0, 3).map(d => d.text);\n \n// Salida: 1 item con topDocs + pregunta\nreturn [{\n  json: {\n    texts: topDocs, // array con los 3 textos relevantes\n    question\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        400
      ],
      "id": "7831e790-e2b9-4fb2-a482-b03d940bb529",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "461b48d5-6f37-4d84-b43b-ff3abaf5fd24",
              "name": "text",
              "value": "=You are an assistant that answer questions using the context below combined with your knowledge.\n\nContext:\n---\n{{ $json.texts.join(\"\\n \\n\") }}\n\nQuestion:\n{{ $json.question }}\n\nAnswer:",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        400
      ],
      "id": "7946231a-018c-441f-b51a-7bb74108c2c2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2672,
        400
      ],
      "id": "fb92fe87-fd5d-4c4d-9bff-d7e663ac5527",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2576,
        592
      ],
      "id": "cd39386e-808a-412e-84f9-a752e0fea640",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nNpVNgNIMRHVNK2y",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8a251810-fea2-40b8-a4f1-221dcfd41975",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64482d7a14e81689aaebbf703d54e87c821063e375e43c30ccc74d502f1236a9"
  },
  "nodeGroups": [],
  "id": "QLF5ggX4Sx5ZH8fP",
  "tags": []
}